body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background-color: #e5e5e5 !important;
}

.app {
  background: #fff;
  margin: 40px auto 0 auto;
  position: relative;
  max-width: 1110px;
  max-height: 1200px;
  padding: 32px 36px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.movie-app input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.4);
}

.movie-app input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.4);
}

.ant-pagination {
  margin-left: auto !important;
  margin-right: auto !important;
}

.ant-pagination-item,
.ant-pagination-item-link {
  border: none !important;
}

.ant-pagination-item-active {
  background-color: #1890ff !important;
  border-radius: 6px !important;
}

.ant-pagination-item-active a {
  font-family: Inter-Medium, sans-serif !important;
  font-size: 12px !important;
  color: white !important;
}

.spinner {
  height: 600px;
  margin: 40px 0;
  padding: 30px 50px;
  text-align: center;
  background: white;
  border-radius: 4px;
  display: grid;
  place-items: center;
}

@media (max-width: 1119px ) {
  .app {
    margin: 0;
    max-height: 2800px;

  }
}

@media (max-width: 540px ) {
  .app {
    margin: 0;
    padding: 20px 16px;
    max-height: 2800px;
    overflow: hidden;
  }
}



