@font-face {
  font-family: 'Inter';
  font-weight: normal;
  src: url('../../fonts/Inter-Regular.ttf'), url('../../fonts/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter-Medium';
  font-weight: normal;
  src: url('../../fonts/Inter-Medium.ttf'), url('../../fonts/Inter-Medium.ttf');
}


.card {
  width: 100%;
  height: 100%;
  display: flex;

  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card__poster {
  min-width: 185px;
}

.card__description {
  padding: 12px 14px 20px 20px;
  font-family: 'Inter-Medium', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title_rate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-size: 20px;
  color: #000000;
  margin: 0;
}

.card__overview {
  font-size: 12px;
  line-height: 22px;
  margin: 0;
}

.card__rate--0-3 {
  width: 32px;
  height: 32px;
  max-height: 32px;
  min-width: 32px;
  font-size: 12px;
  margin: 0;
  display: grid;
  place-items: center;
  border-radius: 50%;
  border: 2px solid #e90000;
}

.card__rate--4-5 {
  width: 32px;
  height: 32px;
  max-height: 32px;
  min-width: 32px;
  font-size: 12px;
  margin: 0;
  display: grid;
  place-items: center;
  border-radius: 50%;
  border: 2px solid #e97e00;
}

.card__rate--6-7 {
  width: 32px;
  height: 32px;
  max-height: 32px;
  min-width: 32px;
  font-size: 12px;
  margin: 0;
  display: grid;
  place-items: center;
  border-radius: 50%;
  border: 2px solid #e9d100;
}

.card__rate--8-10 {
  width: 32px;
  height: 32px;
  max-height: 32px;
  min-width: 32px;
  font-size: 12px;
  margin: 0;
  display: grid;
  place-items: center;
  border-radius: 50%;
  border: 2px solid #66e900;
}

.card__release {
  font-size: 12px;
  color: #827e7e;
  margin: 0;
}

.card__genres {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.65);
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.card__genre {
  background: #fafafa;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 2px;
  height: 20px;
  padding: 2px 6px 18px 5px;
  margin-right: 8px;
  margin-bottom: 6px;
}

.card__genre:last-child {
  margin-right: 0;
}

.card__stars {
  margin: 0;
}

.ant-rate-star {
  height: 16px;
  width: 16px;
}
